<html>

<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>
        <%= game.name %>
    </h1>
    <div>
        <ul>
            <li>
                name :
                <%= game.name %>
            </li>
            <li>
                console :
                <%= game.console %>
            </li>
        </ul>

    </div>
</body>

</html>