<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= body %></h1>
    hello ejs app
    <div><a href="/consoles">list of consoles</a></div>
    <div><a href="/games">list of games</a></div>
    <div><a href="/retropie">retropie</a></div>
  </body>
</html>
