<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
       <h1><%= title %></h1>
       <% consoles.forEach(function(console) { %>
        <div>
                console : <%= console.name %>


            <% if(console.roms.length != 0) {  %>
                roms

                <% console.roms.forEach(function(rom) { %>
            <ul>
                <li>
                    <%= rom.romName %>
                </li>
            </ul>

                <%  }) %>
            
                <%  }  %>
        </div>
        <%}) %>
    </body>
</html>