<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
       <h1><%= title %></h1>
       <div>
           <!-- <button><%= button %></button> -->
           <form action="/performSynchro">
                <input type="submit" value="<%= button %>" />

           </form>
       </div>
    </body>
</html>